<h1>Portfolios#show</h1>
<p>Find me in app/views/portfolios/show.html.erb</p>

<% unless current_user.role == "judge" %>
Hire a professional to review this portfolio
<%= link_to "find professionals", profile_index_path%>
<% else %>
Pinch it!
<% end %>

