<%= render 'smallstats' %>
<!-- jobs panel begin --> 
<div class="row"> 
   <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Jobs hired by me
      </div>
      <div class="panel-body">
        <ul class="panel-jobs">
        <% @portfolios.each do |portfolio| %>
        <% portfolio.jobs.each do |job| %>
          <li>
            <%= link_to "job on portfolio-#{portfolio.name}", job %> by <%= job.user.name %>
          </li>
          <% end %> 
          <% end %>
        </ul>
      </div>
    </div>
  </div> 
  <div class="col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading" data-original-title>
        <h2><span class="break"></span>The list of users needing your help</h2>
      </div>
      <% unless @jobs.empty? %>
        <table class="table table-striped table-bordered bootstrap-datatable datatable">
          <thead>
            <tr>
              <th>User</th>
              <th class="text-center">Portfolio</th>
              <th class="text-center">Photos</th>
              <th class="text-center">Status</th>
              <th>Actions</th>
              <th>Date of assignment</th>
              <th>updated</th>
            </tr>
          </thead>   
          <tbody>
            <%= render 'body_content' %>
          </tbody>
        </table>
      <% else %>
      <div class="panel-body">
        User doesn't have any jobs yet.
      </div>
      <% end %>
    </div>
  </div><!--/col-->
</div><!-- /row jobs panel ends-->
