<div class="center hero-unit">
  <h1>Welcome to the Pepperpinch</h1>

  <h2>
   The trusted service for enthusiast photographers
  </h2>
  <p>Let our experts guide your path to better results</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>