<h1>list of professionals available</h1>
<% unless @profiles.empty? %>
   <% @profiles.each do |profile| %>
      <%= link_to "profile", profile %>
   <% end %>
<% else %>
This can't be empty
<% end %>
