<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Professionals available</h4>
  </div>
  <div class="panel-body">
    <% unless @profiles.empty? %>
   <% @profiles.each do |profile| %>
   <div class="col-sm-2">
      <%= image_tag(profile.user.avatar.profile.url, class: "img-responsive") if profile.user.avatar? %>
      <p><%= link_to profile.user.name.to_s.humanize, profile %></p>
    </div>
   <% end %>
<% else %>
This can't be empty
<% end %>
  </div>
</div>




